@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #e7eef6, #0CABA8);
}
body .card {
  margin: 1.5rem 1.5rem 0.7rem;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 400px;
  box-shadow: 20px 20px 40px rgba(15, 194, 191, 0.2196078431);
}
@media (min-width: 768px) {
  body .card {
    display: flex;
    max-width: 800px;
    height: 285px;
  }
}
body .card .img {
  height: 200px;
  background: url("images/drawers.jpg") center center no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  body .card .img {
    height: 100%;
    width: 730px;
  }
}
body .card .words {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2.2rem 2.2rem 0.5rem 2.2rem;
}
@media (min-width: 768px) {
  body .card .words {
    justify-content: center;
    max-width: 480px;
    padding: 2.2rem;
  }
}
body .card .words .title {
  color: #023535;
  font-size: 1rem;
  font-weight: 800;
  line-height: 25px;
}
@media (min-width: 768px) {
  body .card .words .title {
    font-size: 1.45rem;
    line-height: 28px;
  }
}
body .card .words .text {
  color: #015958;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 20px;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  body .card .words .text {
    font-size: 0.9rem;
  }
}
body .card .profile {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  body .card .profile {
    padding-bottom: 0;
  }
}
body .card .profile .michelle {
  width: 40px;
  border-radius: 50%;
  border: 2px solid #023535;
}
body .card .profile .name-date {
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
  margin-right: auto;
}
body .card .profile .name-date .name {
  color: #023535;
  font-size: 0.8rem;
  font-weight: 900;
}
body .card .profile .name-date .date {
  font-size: 0.8rem;
  font-weight: 600;
  color: #008F8C;
}
body .card .profile .share {
  background-color: #e7eef6;
  width: 33px;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
}
body .card .profile .share:hover {
  cursor: pointer;
  position: relative;
}
body .card .share-options {
  display: none;
  align-items: center;
  gap: 15px;
  background: #023535;
  padding: 1.1rem 2rem;
}
@media (min-width: 768px) {
  body .card .share-options {
    position: absolute;
    display: none;
    height: -moz-fit-content;
    height: fit-content;
    transform: translate(630px, 140px);
    border-radius: 10px;
    box-shadow: 0 0 10px #015958;
    opacity: 0.95;
  }
}
body .card .share-options img:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.5s ease;
}
body .card .share-options .share-h3 {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #008F8C;
}
body .card .share-options .sharing {
  background-color: #008F8C;
  padding: 0.5rem;
  width: 33px;
  border-radius: 50%;
  margin-left: auto;
  border: none;
}
@media (min-width: 768px) {
  body .card .share-options .sharing {
    display: none;
  }
}
body .footer {
  font-size: 0.75rem;
}
body .footer a {
  text-decoration: none;
  padding: 0.1em;
  color: #015958;
  box-shadow: inset 0 0 0 0 #015958;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  cursor: pointer;
}
body .footer a:hover {
  box-shadow: inset 180px 0 0 0 #015958;
  color: #fff;
}/*# sourceMappingURL=style.css.map */